<div class="">
    <h2>VISION STATEMENT</h2>
    <p><em>“TO BE A CHRIST-CENTRED, EVANGELISTIC, DISCIPLINED, DEMOCRATIC, UNITED,SELF-SUSTAINING AND GROWING CHURCH.”</em></p>
		
	<h2>MISSION STATEMENT</h2>
    <p><em>“Improve uphold centrality of the word of God and through the enablement of the holy spirit, adopt a holistic development of
			her human and material resources to:”</em></p>
		   
    <ul>
		<li>Improve church growth through evangelism and nurture</li>
		<li>Attain self-sufficiency through effective resource mobilization</li>
		<li>Address all factors that inhibit development through</li>
		<li>Advocacy and effective delivery of Social Services</li>
		<li>Uphold the Reformed Tradition and cherish partnership with the worldwide body of Christ</li>
	</ul>
</div>